---
import '../styles/webinar-overview.css';
import { fetchData } from '../lib/fetch-api-data';

// Fetching data from the Directus API
const { webinars, contourings } = await fetchData();
---

<h2>Featured webinars</h2>
<ul class="webinar__carousel">
  {webinars.slice(0, 4).map(webinar => (
    <li>
      <article>
        <a href={`/webinars/${webinar.slug}`}>
          <div class="webinar__image--container">
            <img src={`https://fdnd-agency.directus.app/assets/${webinar.thumbnail.id}`} alt="thumbnail" />
            <p class="webinar__duration">{webinar.duration}</p>
          </div>
          <h3>{webinar.title}</h3>
          <p class="webinar__speakers">
            {webinar.speakers.map(speaker => (
              <span>{speaker.avl_speakers_id.fullname}</span>
            ))}
          </p>
          <div class="webinar__categories">
            {webinar.categories.map(category => (
              <p class="webinar__category">{category.avl_categories_id.name}</p>
            ))}
          </div>
        </a>
      </article>
    </li>
  ))}
</ul>
<a class="webinar__button" href="/webinars">See all webinars</a>
